*{
    margin: 0px;
    padding: 0px;
}


.header-container{
    
color: #FFF;
text-align: right;
background-image: url('../images/banner/banner3.png');
background-size: cover;
height: 100vh;
background-position: center;
width: 100%;
background-repeat: no-repeat;

}
.header-title{
    padding-top: 215px;
    padding-bottom: 25px;
    padding-right: 230px;
    font-size: 65px;
    font-weight: 700;
}
.header-discription{
    font-size: 14px;
    line-height: 26px;
    padding-right: 230px;
}
.primary-btn{
    margin-right: 230px;
    margin-top: 35px;
    padding: 21px 25px 20px 26px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    background: #FFF;
    border: 0;

}

/* main section styles */

.failure-previous{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 130px;
    border-radius: 10px;
    background: #FFF;
    max-width: 1140px;
    margin: 0px auto;
    margin-left: 15px;
    
}
.information-title{
    color: #151414;
font-size: 40px;
font-weight: 700;
padding-bottom: 25px;
}

.information-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 16px;
}
.list-item{

color: #444343;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.information-text{
    padding-top: 80px;
}
.prject-name{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
    color: #151414;
    font-size: 46px;
    font-weight: 700;
    padding-left: 80px;
}

.MyPlans-container{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0px auto;
    padding-bottom: 130px;
}
.myplan-title{
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.myplan-discription{
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.plan-photo{
    text-align: center;
    padding-left: 35px;
}
.Contact{
    background-image: url('../images/watch.png'), url('../images/gradient1.png');
    background-repeat: no-repeat;
    width: 1200px;
    height: 300px;
    background-position: center;
    margin: 80px 200px 130px 200px;
    border: 0;

}
.ukti{
    color: #FFF;
font-size: 40px;
font-weight: 700;
padding-top: 59px;
margin-left: 64px;

}

#call-button{
    margin-left: 64px;

}